
#Title{
    display: inline;
    position: relative;
    font-family: serif;
    text-align: center;
    font-size: 5vw;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.holds{
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    margin:0;
    background: black;
}
.hButton{
    position: absolute;
    float: left;
    margin-left: 0;
    font-size: 3vw;
    color: white;
    top: 15%;
    left: 1%;
}
.home{
    text-decoration: none;
    color: white;
}
body{
    background: LightBlue;
    margin:0;
    padding:0;
}
#contains{
    display: block;
    position: relative;
    width: 100%;
    height: 56.25vw;
    padding: 0;
    margin: 0;
}
iframe{
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.description{
    text-align: center;
}
p{
    font-size: 2vw;
    text-indent: 5%;
    margin-bottom: 0;
    margin-left: 2%;
}
.second{
    margin-top: 0;
}

#code{
    font-size: 1vw;
    text-indent: 0;
    margin-left: 1%;
}