#Title{
    position: relative;
    font-family: serif;
    text-align: center;
    font-size: 48px;
    color: coral;
    margin: 20;
    margin-bottom: 0;
    padding: 2%;
    margin-top: 0;
    background: black;
}
body{
    background: LightBlue;
    margin:0;
    padding:0;
}

#wd{
    background: ;
    width: 100%;
}

img{
    width: 100%;
    margin: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: .5s ease;
}
.video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
}
#one{
    width: 100%;
    height: auto;
    margin: 0%;
    display: block;
    transform: scale(1);
    transition: .5s ease;
}

.pic:hover{
    transform: scale(1.1);
    opacity: .7;
}
#contain:hover .video{
    opacity: 1;
    transform: scale(1.2);
    
}
#contain{
    position: relative;
    width: 50%;
    height: auto;
    margin:5%;
    margin-left: auto;
    margin-right: auto;
}
#contain:hover #one{
    opacity: 0;
}
a{
    width: 50%;
    margin: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    transform: scale(1);
    transition: .5s ease;
}
.description{
    text-align: center;
}
