#Title{
    position: relative;
    font-family: serif;
    text-align: center;
    font-size: 48px;
    color: coral;
    margin: 20;
    margin-bottom: 0;
    padding: 2%;
    margin-top: 0;
    background: black;
}
body{
    background: LightBlue;
    margin:0;
    padding:0;
}

#wd{
    background: ;
    width: 100%;
}

img{
   width: 100%;
    margin: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: .5s ease;
}
a{
    width: 50%;
    margin: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    transform: scale(1);
    transition: .5s ease;
}
img:hover{
    transform: scale(1.1);
    opacity: .7;
}
.description{
    text-align: center;
}
